# Exports

export WORKSPACE="/Users/et31464/workspace"

# Java
export JAVA_8_HOME=$(/usr/libexec/java_home -v1.8)
export JAVA_8_HOME_ORACLE=/Library/Java/JavaVirtualMachines/jdk1.8.0_202.jdk/Contents/Home
export JAVA_11_HOME=$(/usr/libexec/java_home -v11)
export JAVA_15_HOME=$(/usr/libexec/java_home -v15)

export JAVA=${JAVA_8_HOME}/jre/bin/java

# Jetty
export JETTY_SH=$JETTY_HOME"/bin/jetty.sh"

# Logstash
export LOGSTASH_DESTINATION=alt-aot-g-fou01.fe.cosng.net:4560
